<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--
  See http://nlog-project.org/wiki/Configuration_file
  for information on customizing logging rules and outputs.
   -->

  <variable name="logDirectory" value="${basedir}/Logs" />

  <targets async="true">
    <!--写入本机的4505端口-->
    <target name="tcp" encoding="utf-8" xsi:type="Network" address="tcp://127.0.0.1:4505">
      <layout xsi:type="Log4JXmlEventLayout" />
    </target>
    <!--写入本地日志文件-->
    <target xsi:type="File" name="file" fileName="${logDirectory}/${shortdate}_${level}.log"
            layout="${longdate}${newline}${message}${newline}"
            encoding="utf-8" />
  </targets>

  <rules>
    <!-- add your logging rules here
    <logger name="*" minlevel="Trace" writeTo="tcp" />-->
    <logger name="*" levels="Info" writeTo="tcp" />
    <logger name="*" levels="Warn" writeTo="tcp" />
    <logger name="*" levels="Error" writeTo="file" />
    <logger name="*" levels="Debug" writeTo="tcp" />
  </rules>
</nlog>