<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="batmes_client" connectionString="Data Source=127.0.0.1;Port=3306;User ID=root;Password=neware.batmes.com;DataBase=weilan_fire_control;Allow Zero Datetime=true;Charset=utf8;pooling=true;" />
    <!--<add name="appstanding" connectionString="XmoNNLtBZ9PsHoNi+PiTT/abf6w45SM3iTCmjW6zg46cfXIvFk22lSAhDpL9GhZ5uSZCceZKBM1tR08GZGIKrOj+mGIOAvigOoypGVch9LpXKxjxaDRnWG7bjZKNiuXDkJ0uW8/0PrCfRKXhfRNZJb4UMi2Bxwi/ZOykchOOOJZXoQTM0beuw8Q12LgsuI4QWLPbWYQB57ESf4eHYPTxcg=="/>
    -->
    <add name="batmes_client_entity" providerName="System.Data.EntityClient" connectionString="metadata=res://*/batmes_client.batmes_client.csdl|res://*/batmes_client.batmes_client.ssdl|res://*/batmes_client.batmes_client.msl;provider=MySql.Data.MySqlClient;provider connection string='server=127.0.0.1;user id=root;password=neware.batmes.com;pooling=True;port=3306;database=weilan_fire_control;persistsecurityinfo=True'" />
    <!--<add name="batmes_client_entity" providerName="System.Data.EntityClient" connectionString="+YM/DxcJFCU9cp6CEdMfiNfne4V8zZtBo4eh5/FQIBC8v7wV0tfKOTavpQP4o26m+GzuQi5iHgFwMmnmfR0SBjc5By5YmbeasRHTrKlRmO2q2kSfGk3io17UGER/AHfzb6q5yr3w+gHprWhoYKhj893xQAJI3Huk22HC3c7ZYb8NA6nKnlI5SmRr939xsH6hUVZCLhidewJYBp5W8fmqitAYBJr059S0fxgxp4+0yAXSWn7HdP+JSud2tB4uUK0ST9eerg7NdcXrQN/VNW1ZgiAmxCUb6opPmBRkmM4BFoHRO+Cac4ji8x7h4kEwSMBQnD4WvXyXPaGPAvVRo7LHcRKw8SFCPSxOmUy+ozn9Ad1ebWhqHg4d2EMNk3WFZpYnf9bY6BMpVOkypoAdy8WSyAPOTC8X4dptNjwOSOZF7Wc=" />-->
  </connectionStrings>
  <appSettings>
    <!--Neware MES调度地址-->
    <add key="BatMesUrl" value="http://192.168.5.80:8102/" />
    <!--Neware MES SDK 日志目录-->
    <add key="BatMesSdkLogDir" value="./Logs/NewareMesSdk/" />
    <add key="intervalFire" value="5" />
    <add key="intervalFault" value="8" />
    <add key="ColCountLine_1" value="7" />
    <add key="RowCountLine_1" value="4" />
    <add key="ColCountLine_2" value="7" />
    <add key="RowCountLine_2" value="4" />
    <add key="IsOpenSmoke" value="0" />
    <add key="IsOpenMBus" value="0" />
    <add key="PlcAddIpForSpray" value="127.0.0.1" />
    <add key="PlcAddPortForSpray" value="8849" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBTSService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IBTSService" transferMode="Buffered">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.18.0" newVersion="6.10.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>